@charset "utf-8";
/* CSS Document */

#AboutUsContent {
	width: 750px;
	height: 325px;
	margin-left: 150px;
	margin-bottom: 50px;
}
#StartingLineup {
	height: 30px;
	width: 750px;
	margin-left: 150px;
}

#StartingLineup h2{
	font-size: 18px;
	line-height: 3px;
	text-align: center;
	;
	width: 100%;
	background-color: #B4DDF5;
}

#StartingLineup h2 span {
	background-color: white;
	padding: 0 20px;
}


.AboutUsContent-wrapper {
	position: absolute;
	width: 100%;
	left: 1px;
	top: 158px;
}
.Portfolio {
	width: 240px;
	height: 200px;
	float: left;
	margin-right: 18px;
	border: 1px solid #1888C8;
}
#top-column {
	height: 200px;
	width: 300px;
	border: 1px solid#;
	margin-left: 400px;
	margin-top: 55px;
}
#center-column {
	height: 200px;
	width: 890px;
	margin-top: 34px;
	margin-left: 140px;
}
#bottom-column {
	margin-top: 34px;
	margin-left: 140px;
	height: 200px;
	width: 100%;
}
#AboutUs-Wrapper {
	float: left;
	width: 1060px;
	height: 1150px;
	/* [disabled]border: 1px solid; */
	margin-left: 50px;
	margin-top: 8px;
}
#workforce-wrapper {
	width: 1500px;
	height: 100%;
	line-height: 5px;
	font-size: 12px;
	margin-top: 5px;
	list-style: none;
	margin-left: 221px;
}

#AboutUsContent p {
	padding: 8px 0 10px;
	font-size: 16px;
	line-height: 2.0;
}

#AboutUsContent  h2{
	font-size: 18px;
	line-height: 1px;
	text-align: center;
	/* [disabled]padding-bottom: 19px; */;
	margin: 56px 0 19px;
	float: left;
	width: 100%;
	background-color: #B4DDF5;
}
#AboutUsContent h2 span {
	background-color: white;
	padding: 0 20px;
}
