@charset "utf-8";
/* Master Css */

/*---------------------------Base Selectors--------------------------------*/
html 
{
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

header 
{
	height: 210px;
	background-color: #FFF;	
}

footer 
{
	height: 80px;
	border-top: solid 1px #1888C8;	
	font-size: .7em;
	color: #003C64;
}

footer p 
{
	display: inline;
}

footer a {
	margin: 0px 8px;
	text-decoration: none;
}

footer a:hover {
	color:#09F
}

.content-wrapper 
{
	width: 80%;
	margin: 0 auto;
}

h1, h2, h3,
h4, h5, h6, p
{
	color: #000;
	display: block;
}

h1 
{
	font-size: 1.3em;
}

h2
{
	font-size: 1.2em;
}
h3
{
	font-size: 1em;
}
h4 
{
	font-size: .9em;
}
h5
{
	font-size: .8em;
}
h6
{
	font-size: .7em;
}


.spacer {
	clear: both;
	font-size: 1px;
}
/* ------------------------------Header & Footer-------------------------------------*/

.logo
{
	background-position: left top;
	margin-top: 15px;
	margin-left: 20px;
	width: 306px;
	height: 124px;
	background-image: url('../Images/Waterworks logo.png');
	background-repeat: no-repeat;
}
.logo a 
{
	height: 100%;
	width: 100%;
}

.main-nav
{
	background-color: #1888C8;
	height: 50px;
	margin-top: 40px;
	width: 100%;
}
.main-menu {
	float: left;
	width: 600px;
	height: 40px;
}
.main-menu ul 
{
	list-style: none;
}
.main-menu li {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.main-menu li a {
	font-size: .8em;
	text-decoration: none;
	font-weight: bold;
	color: #FFF
}

.main-menu li a:hover{
	color: #0CF;
}

.search {
	float: right;
	width: 200px;
	clear: none;
	margin-top: 15px;
}
.search input
{
	width: 150px;
	text-align: left;
	height: 20px;
	border: none;
	border-radius: 10px 10px / 10px 10px;
	-moz-border-radius: 10px 10px / 10px 10px;
	-o-border-radius: 10px 10px / 10px 10px;
	-webkit-border-radius: 10px 10px / 10px 10px;
	background-color: #9BCDFF;
	color: #FFF;
	font-weight: 400;
	font-size: 12px;
	padding: 0 10px 0 10px;	
}

.footer-right {
	float: right;
	margin-top: 20px;
}

.footer-left 
{
	float: left;
	margin-top: 20px;
}








/* ---------------------------Featured projects Bar Css -----------------------------*/


.breadcrumb {
	width: 80%;
	margin: 0 auto;
	color: #FFF;
	font-weight: bold;
	font-size: .8em;
	margin-top: 7px;
}
.breadcrumb a {
	font-weight: bold;
	font-size: .8em;
	color: #FFF;
	text-decoration: none;
}
.breadcrumb-wrapper {
	height: 30px;
	border-top: solid 1px #e1e1e1;
	border-bottom: solid 1px #e1e1e1;
	background-color: #1888C8;
	margin-top: 3%;
	margin-bottom: 20px;
}





/* ----------------------Home Page-----------------------------*/
.homepage
{
    width: 90%;
    margin: 3% auto 3% auto;
}

.homepage ul 
{
    list-style: none;
}
.homepage li
{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}



/* --------------------------Portfolio----------------------------*/

.Portfolio
{
    Float: left;
    width: 20%;
    Margin: 3% auto 3% auto;
    margin-left: 40px;
    text-align:center;
}

.PortfolioPics

{
    float: left;
    width: 60%;
    margin: 3% auto 3% auto;
    
}

.PortfolioPics ul
{
    list-style: none;
    
}

.PortfolioPics li
{
    display: inline-block;
    padding: 5px 5px 5px 5px;
}
/* ----------------------------------Project Estimator-----------------------------------------*/

.estimator
{
    margin: 3% auto 3% auto;
    width: 20%;
    text-align:center;
}


/* ------------------------Customer Account--------------------------------*/

.customer
{
    margin: 3% auto 3% auto;
    width: 20%;
    text-align: center;
}

.customer p
{
    
    color: #1888C8;
}


/* -----------------------------------Employee Login Page CSS Start--------------------------------------*/

.photo
{
    Float: left;
    width: 20%;
    Margin: 3% auto 3% auto;
    text-align:center;
}

.login
{
    text-align: center;
    width: 60%;
    margin: 3% auto 3% auto;
    
}

.login p
{
    color: #1888C8;
}

/* ---------------------------------SiteMap Page CSS Start----------------------------------*/


.sitemap

{
    width: 70%;
    float:right;
    margin: 3% auto 3% auto;
}

.sitemap ul
{
    list-style: none;
}

/* ----------------------------------Contact Page------------------------------------*/

.contact
{
	margin-top: 3%;
	margin-bottom: 3%;
	width: 60%;
	margin-left: 20%;
	padding: 50px 0 50px 0;
}

.contact p
{
	text-align: center;
}
.contact hr 
{
	padding: 0;
	border: none;
	border-top: medium double #B4DDF5;
	color: #B4DDF5;
	text-align: center;
}
.contact hr:after 
{
	content: "we would love to hear from you!";
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	font-size: 1.2em;
	position: relative;
	padding: 0 0.25em;
	top: -0.7em;
	color: #000;
	background: #FFF;
}
	
	


/* ---------------------------------------About Us Page-----------------------------------*/

.aboutus
{
	margin-top: 3%;
	margin-bottom: 3%;
	width: 60%;
	margin-left: 20%;
	padding: 50px 0 50px 0;
}

.aboutus p
{
	text-align: center;
}
.aboutus hr 
{
	padding: 0;
	border: none;
	border-top: medium double #B4DDF5;
	color: #B4DDF5;
	text-align: center;
}
.aboutus hr:after 
{
	content: "About Us";
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	font-size: 1.2em;
	position: relative;
	padding: 0 0.25em;
	top: -0.7em;
	color: #000;
	background: #FFF;
}

.pictures hr 
{
	padding: 0;
	border: none;
	border-top: medium double #B4DDF5;
	color: #B4DDF5;
	text-align: center;
}
.pictures hr:after 
{
	content: "Our Starting Lineup";
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	font-size: 1.2em;
	position: relative;
	padding: 0 0.25em;
	top: -0.7em;
	color: #000;
	background: #FFF;
}

.pictures

{
    float: left;
    width: 100%;
    margin: 3% auto 3% auto;
    
}

.pictures ul
{
    list-style: none;
    margin-left: 10px;
}

.pictures li
{
    display: inline-block;
    padding: 5px 5px 5px 5px;
}